# Data Science Tools and Ecosystem

###### In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives
Different objectives of this course are:
- Identify different languages of Data Science
- Identify different tools of Data Science
- Identify different libraries of Data Science

### Some of the data science languages are:
1. Python
2. R
3. C++
4. Java

## Some of the common data science libraries are:
1. tensorflow
2. apachespark
3. pytorch

| No | Data Science tools |
| ---|-------------------|
| 1. | Jupyter notebook |
| 2. |  RStudio |
| 3. | Apachespark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
2+3

5

In [3]:
5*2

10

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
print(200/60 ,"hours")

3.3333333333333335 hours

## Author
Shairbano